* {
    font-family: "Poppins";
}

/* Navbar background */
.hero-img {
  max-width: 240px;
  height: auto;
}

.nav-bar {
  background: linear-gradient(180deg, #424242, #4c4c4c);
  border-radius: 16px;
  padding: 6px 1px;
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #272727;
  position: relative;
  width: 100%;
  z-index: 1000;
  transition: all 0.5s ease;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #272727;
  box-shadow: 0 2px 6px rgba(26, 26, 26, 0.3);
}

.nav-link {
  color: white;
  background-color: transparent;
  border-radius: 10px;
  min-width: 80px;    
  text-align: center;
  transition: all 0.2s ease;
  padding: 4px 12px;
  line-height: 1.5;
  font-size: 15px;
  font-family:  "Poppins";
}

.nav-link:hover {
  background-color: white;
  color: #272727 !important;
}

.navbar .nav-link.active {
  background-color: white !important;
  color: #272727 !important;
  border-radius: 10px;
}

.navbar-brand {
  color: white;
}

.navbar-brand h4:hover {
  color: white;
}

.contact-btn {
  background-color: white;
  border-radius: 15px;
  padding: 5px 15px;
  text-decoration: none;
  color: #272727;
  transition: all 0.5s ease;
  display: inline-block;
}

/* Hover effect */
.contact-btn:hover {
    background: linear-gradient(180deg, #424242, #4c4c4c);
    color: white; 
}

/* Hero Section */
.hero-section {
  min-height: 80vh;
  background-color: #272727;
  color: white;
  overflow: hidden;
  position: relative;
}

.hero-section h1 {
  font-size: 50px;
}

.hero-section h1 {
  font-size: 50px;
}

.hero-img {
  transition: transform 0.4s ease;
}

.hero-img:hover {
  transform: scale(1.1) rotate(-3deg);
}

.available-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  background: #00542F;
  color: #03F187;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.status-circle {
  width: 10px;
  height: 10px;
  background: #03F187;
  border-radius: 50%;
  display: inline-block;
}

.download-btn {
  font-size: 15px;
  background-color: #3155D2;
  border-radius: 12px;
  padding: 4px 14px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  display: inline-block;
}

.download-btn:hover {
  background-color: #87a1ff;
  color: white;
}

.hero-icons {
  font-size: 25px;
  color: white;
  transition: all 0.3s ease;
}

.hero-icons:hover {
  color: #545454;
}

.gradient-text {
  background: linear-gradient(180deg, #ffffff, #d1d1d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent; 
}

/* About Section */

.about-section {
    min-height: 100vh;
    background-color: #242424;
    color: white;
}

.about-box {
    background-color: #353535;
    padding: 30px;
    border-radius: 20px;
    max-width: 1100px;
}

.about-box-in {
  background-color: #242424;
  padding: 30px;
  border-radius: 15px;
}

.section-heading {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
}

.review-box {
  background-color: #242424;
  width: 450px;
  border-radius: 10px;
  transition: all .5s;
  position: relative;
  box-shadow: inset 0 0 0 1px #666666a1;
}

.review-box p {
  font-size: 14px;
  line-height: 19px;
  color: #8d8d8d;
}

.review-box h6 {
  position: absolute;
  bottom: 20px;
}

/* For small screens */
@media (max-width: 992px) {

  .nav-bar {
    flex-direction: column;
    align-items: left;
    width: 100%;
    margin-top: 10px;
    justify-content: left;
    background: linear-gradient(180deg, #424242, #4c4c4c) !important;
  }

  .nav-item {
    margin: 5px 0;
  }

  .d-flex.ms-auto {
    margin-top: 10px;
  }

  .contact-btn-section {
    width: 100%;
  }

  .contact-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
    /* background: linear-gradient(180deg, #424242, #4c4c4c); */
    background-color: #3155D2;
    color: rgb(208, 208, 208) !important;
  }

  .hero-section {
    min-height: 80vh;
    padding: 20px;
  }

  .hero-section .container{
    margin-top: 10px;
  }

  .hero-img {
    max-width: 190px;
    margin-bottom: 30px;
  }

  .hero-section h1{
    font-size: 30px;
  }

  .hero-section h3{
    font-size: 20px;
  }

  .about-section {
    min-height: 80vh;
    padding: 30px;
  }

}
