* {
    font-family: "Poppins";
}

body {
  padding-top: 70px;
}

/* Navbar background */
.hero-img {
  max-width: 240px;
  height: auto;
}

.logo {
  height: 27px;
  width: auto;
}

.nav-bar {
  background-color: #464646;
  border-radius: 16px;
  padding: 6px 1px;
  display: flex;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(45, 45, 45);
  z-index: 1000;
}

.nav-link {
  color: white;
  background-color: transparent;
  border-radius: 10px;
  min-width: 80px;    
  text-align: center;
  transition: all 0.2s ease;
  padding: 4px 12px;
  line-height: 1.5;
  font-size: 15px;
  font-family: "Poppins";
}

.nav-link:hover {
  background-color: white;
  color: #272727 !important;
}

.navbar .nav-link.active {
  background-color: white !important;
  color: #272727 !important;
  border-radius: 10px;
}

.navbar-brand {
  color: white;
}

.navbar-brand h4:hover {
  color: white;
}

.contact-btn {
  background-color: white;
  border-radius: 15px;
  padding: 5px 15px;
  text-decoration: none;
  color: #272727;
  transition: all 0.5s ease;
  display: inline-block;
  font-size: 16px;
}

/* Hover effect */
.contact-btn:hover {
    background: linear-gradient(180deg, #424242, #4c4c4c);
    color: white; 
}

/* Hero Section */
.hero-section {
  min-height: 90vh;
  background-color: #272727;
  color: white;
  overflow: hidden;
  position: relative;
}

.hero-section h1 {
  font-size: 50px;
}

.hero-section .hero-p {
  color: #e3e3e3;
}

.hero-img {
  transition: transform 0.4s ease;
}

.hero-img:hover {
  transform: scale(1.1) rotate(-3deg);
}

.available-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  background: #00542F;
  color: #03F187;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.status-circle {
  width: 10px;
  height: 10px;
  background: #03F187;
  border-radius: 50%;
  display: inline-block;
}

.download-btn {
  font-size: 15px;
  background-color: #3155D2;
  border-radius: 12px;
  padding: 4px 14px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  display: inline-block;
}

.download-btn:hover {
  background-color: #87a1ff;
  color: white;
}

.hero-icons {
  font-size: 26px;
  color: white;
  transition: all 0.3s ease;
}

.hero-icons:hover {
  color: #545454;
}

.gradient-text {
  background: linear-gradient(180deg, #ffffff, #d1d1d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent; 
}

/* About Section */

.about-section {
  min-height: 85vh;
  color: white;
  background: linear-gradient(270deg, #2d2d2d, #272727, #1f1f1f);
  background-size: 600% 600%;
  animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.about-box-in {
  border-radius: 20px;
  max-width: 1100px;
}

.about-box-1 {
  background-color: #353535;
  padding: 30px;
  border-radius: 20px;
  max-width: auto;
}

.review-box {
  background-color: #242424;
  width: auto;
  height: auto;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  position: relative;
  box-shadow: inset 0 0 0 1px #666666a1;
}

.review-box:hover {
  transform: translateY(-3px); 
}

.review-box p {
  font-size: 14px;
  line-height: 19px;
  color: #8d8d8d;
}

/* Edu & Exp Section */

.edu-exp-section {
  min-height: 60vh;
  color: white;
  background: linear-gradient(270deg, #2d2d2d, #272727, #1f1f1f);
  background-size: 600% 600%;
  animation: gradientBG 5s ease infinite;
}

.edu-exp-box {
  background-color: #242424;
  width: auto;
  height: auto;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: inset 0 0 0 1px #666666a1;
}

.edu-exp-box:hover {
 background-color: #2d2d2d;
}

.edu-exp-text {
  color: #b1b1b1;
}

.edu-exp-in {
  background-color: #424242;
  border-radius: 10px;
}

/* Tech Stack section */

.tech-section {
  min-height: 75vh;
  color: white;
  background: #272727;
}

.tech-box {
  padding: 30px;
  border-radius: 20px;
  width: auto;
}

.tech-item {
  background-color: #353535;
  border-radius: 15px;
  transition: transform 0.2s ease, background 0.2s ease;
  text-align: center;
  font-size: 16px;
}

.tech-item:hover {
  transform: translateY(-4px);
  background-color: #444;
}

.tech-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Project Section */

.project-section {
  min-height: 90vh;
  color: white;
  background: #272727;
}

.project-card {
  background-color: #353535;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 1px #666666a1;
}

.project-card:hover {
  transform: scale(1.02);
  background: #343434;
}

.img-box {
  padding: 5px;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  image-rendering: -webkit-optimize-contrast;
}

.card-img-top {
  border-radius: 15px;
  overflow: hidden;
}

.readmore-btn {
  box-shadow: inset 0 0 0 1px #828282a1;
  border-radius: 10px;
  color: #e3e3e3;
  transition: all .5s;
}

.readmore-btn:hover {
  background-color: #e3e3e3;
  box-shadow: none;
}

.modal-content {
  background-color: #2d2d2d;
  border-radius: 20px;
  border: none;
  box-shadow: inset 0 0 0 1px #666666a1, 0 8px 20px rgba(0,0,0,0.6);
  color: #e3e3e3;
}

.modal-header {
  border-bottom: 1px solid #555; 
  background-color: #2d2d2d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn-close-white {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.btn-close-white:hover {
  opacity: 1;
}

.modal-content {
  max-width: 400px;
}

.modal-body img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.modal-body p {
  font-size: 15px;
  line-height: 1.3;
  color: #dcdcdc;
}

.techn-box {
  padding: 3px 10px;
  background-color: #555;
  font-size: 12px;
  border-radius: 6px;
}

.btn-view {
  border-radius: 10px;
  font-size: 13px;
  box-shadow: inset 0 0 0 1px #828282a1;
  color: #e3e3e3;
}

.btn-view:hover {
  background-color: #e3e3e3;
  box-shadow: none;
}

/* Contact Section */

.contact-section {
  min-height: 80vh;
  background: #272727;
  background-size: 600% 600%;
  animation: gradientBG 5s ease infinite;
  color: white;
}

.contact-form-container {
  background-color: #1f1f1f;
  box-shadow: inset 0 0 0 1px #828282a1;
  border-radius: 20px;
  padding: 30px;
}

.contact-right-side {
  background: #2d2d2d;
  box-shadow: inset 0 0 0 1px #828282a1;
  border-radius: 15px;
  padding: 30px;
  color: white;
}

.msg-btn {
  background-color: #353535;
  box-shadow: inset 0 0 0 1px #828282a1;
  border-radius: 13px;
  color: white;
  transition: all .5s;
}

.msg-btn:hover {
  background-color: #e3e3e3;
  box-shadow: none;
}

.contact-icon{
  border-radius: 10px;
  background-color: #353535;
  padding: 5px 8px;
}

footer {
  color: #8d8d8d;
  background: #343434;
  padding: 30px 0px;
  text-align: center;
  justify-content: center;
}

.contact-link-text {
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #353535;
  transition: all .5s;
}

.contact-link-text:hover {
  color: #343434 !important;
  background-color: #e3e3e3;
  box-shadow: none;
}

/* For small screens */
@media (max-width: 992px) {

  body {
    padding-top: 55px;
  }

  .navbar {
    position: fixed;
    background-color: #2d2d2d;
  }

  .nav-bar {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: stretch;
  }

  .nav-item {
    margin: 5px 0;
  }

  .d-flex.ms-auto {
    margin-top: 10px;
  }

  .contact-btn-section {
    width: 100%;
  }

  .contact-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
    background-color: #3155D2;
    color: white !important;
  }

  .hero-section {
    min-height: 80vh;
    padding: 20px;
  }

  .hero-section .container{
    margin-top: 10px;
  }

  .hero-img {
    max-width: 190px;
    margin-bottom: 30px;
  }

  .hero-section h1{
    font-size: 30px;
  }

  .hero-section h3{
    font-size: 20px;
  }

  .about-section {
    min-height: 100vh;
    padding: 70px 20px;
  }

  .review-box {
    width: auto;
    height: auto;    
  }

  .contact-info-box {
    display: none;
  }

  .tech-section {
    min-height: 50vh;
    padding: 40px 20px;
  }
  
  .tech-text {
    display: none;
  }

  .edu-exp-section {
    min-height: 60vh;
    padding: 44px 20px;
  }

  .project-section {
    min-height: 40vh;
    padding: 60px 30px;
  }

  .project-card:hover {
    transform: none;
  } 

  .swiper-btn {
    background-color: #353535;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px #828282a1;
    color: #ffffff !important;
  }

  .mySwiper {
    padding-bottom: 70px !important;
    position: relative;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: auto !important;
    bottom: 10px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 15px !important;
  }

  .swiper-button-prev {
    left: 35% !important;
  }

  .swiper-button-next {
    right: 35% !important;
  }

  .contact-section {
    min-height: 40vh;
    padding: 60px 30px;
  }

  .contact-form-container {
    padding: 15px;
  }

  .form-control {
    font-size: 13px;
  }

  .contact-heading {
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .contact-link-text {
    font-size: 13px;
    padding: 5px 10px;
  }

}
